In [6]:
import pandas as pd

data=[1,2,3,4,5]

print(data)
print(pd.Series(data))
print(pd.DataFrame(data))
print(pd.array(data))

[1, 2, 3, 4, 5]
0    1
1    2
2    3
3    4
4    5
dtype: int64
   0
0  1
1  2
2  3
3  4
4  5
<IntegerArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: Int64

In [7]:
data={"Name":["Alice","Bob","Charlie","David","Eva"],
      "Age":[24,27,22,32,29]}

df=pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
3    David   32
4      Eva   29