In [1]:
import pandas as pd
data=pd.read_csv('data.csv')
data

      Name  Age
0    Alice   30
1      Bob   25
2  Charlie   35
3    Diana   28

In [2]:
data=pd.read_csv('data.csv')
data.describe()

             Age
count   4.000000
mean   29.500000
std     4.203173
min    25.000000
25%    27.250000
50%    29.000000
75%    31.250000
max    35.000000

In [5]:
data.loc[2]=["Raj",28]
data

    Name  Age
0  Alice   30
1    Bob   25
2    Raj   28
3  Diana   28

In [7]:
import pandas as pd

# ensure the dataframe is loaded
data = pd.read_csv('data.csv')   # run this if data is not already defined

# rename integer index labels (make sure these indices exist)
new_data = data.rename(index={0: 'A', 1: 'B', 2: 'C', 3: 'D'})
new_data.head()
data1=new_data[['Name']]
data1.head()
data.head()

      Name  Age
0    Alice   30
1      Bob   25
2  Charlie   35
3    Diana   28

In [ ]:
import numpy as np
import pandas as pd

data={
    "Name":np.random.randint(10,50,50),
    "Age":np.random.randint(18,60,50)
}
df=pd.DataFrame(data)
df

    Name  Age
0     12   51
1     15   23
2     22   26
3     48   29
4     16   55
5     12   42
6     34   25
7     11   24
8     40   43
9     12   26
10    43   38
11    20   31
12    17   33
13    18   55
14    17   54
15    27   51
16    49   25
17    22   40
18    40   44
19    36   23
20    36   18
21    13   29
22    43   20
23    33   58
24    23   29
25    21   47
26    43   33
27    46   19
28    31   52
29    33   47
30    35   43
31    43   58
32    30   53
33    40   20
34    30   30
35    39   57
36    17   21
37    16   48
38    31   25
39    49   46
40    20   24
41    36   38
42    18   36
43    24   46
44    10   24
45    46   55
46    49   44
47    45   47
48    23   45
49    45   36